.r0-input {
  --nes-border-box: var(--color-background-darker);
  --nes-border-box-size: 2px;
  --nes-border-box-size-minus: -2px;
  display: flex;
  align-items: center;
}

.r0-input:not(:first-of-type) {
  margin-top: 1em;
}

.r0-input input {
  background: none;
  border: none;
  padding: 12px 15px;
  font-family: var(--font-press-start-2p);
}