.r0-sidebar {
  --nes-border-box: var(--color-background-secondary);
  --color-pixel: var(--color-background-default);
  background-color: var(--color-background-secondary);
  grid-area: sidebar;
}

.r0-sidebar_navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8em 0;
}

.r0-sidebar_navbar button {
  --color-pixel: var(--color-background-secondary);
}